---
layout: default
---
<div class="mdc-layout-grid mdc-toolbar-fixed-adjust narrow-page">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5">
            <img class="img-fill mdc-elevation--z4" src="{{ site.images }}/{{ page.image }}" />
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7">
            <article class="post">
                <div class="post-header">
                    <h2 class="elegant">{{ page.title | escape }}</h2>
                </div>
                <div class="post-content">
                    {{ content }}
                </div>
            </article>
        </div>
    </div>
</div>